---
import Account from "../Account.svelte";
import LanguageSelector from "../LanguageSelector.svelte";
import Layout from "../Layout.astro";
---

<Layout>
  <div class="flex flex-col items-center h-screen bg-neutral-300">
    <header class="flex w-full p-5 justify-between text-sm text-gray-800">
      {/*left section*/}
      <a href="https://jontes.page/advertise?site=nt3-search" draggable="false">
        <div
          class="acceptable-ad-spot mx-auto max-w-4xl hover:underline bg-neutral-100 outline-secondary outline p-2 rounded text-black"
        >
          <div
            class="bg-accent text-xs font-bold rounded-full px-2 py-1 inline-block text-white"
          >
            Ad
          </div>
          Advertise here!
        </div>
      </a>

      {/*right section*/}
      <div class="flex space-x-4 font-Ubuntu items-center">
        <div class="mx-2">
          <Account client:only />
        </div>
        <div class="mx-2">
          <LanguageSelector client:load />
        </div>
      </div>
    </header>

    <form class="flex flex-col items-center pt-3 flex-grow" action="/search">
      <img
        src="/web.svg"
        class="p-8 bg-neutral-100 rounded-t-xl rounded-b-md"
      />
      <div class="w-full flex">
        <input
          type="text"
          name="query"
          placeholder="Search for anything... ðŸŒ"
          class="p-4 flex-grow mt-2 rounded-bl-xl rounded-br-md rounded-t-md"
        />
        <button
          type="submit"
          id="search-btn"
          disabled
          class="p-4 ml-2 mt-2 bg-violet-600 disabled:bg-neutral-700 text-white rounded-br-xl rounded-bl-md rounded-t-md"
        >
          Search
        </button>
      </div>
      <p class="w-full" id="status">Verifying you're a human</p>
      <input type="hidden" id="token" name="token" />
      <div
        class="cf-turnstile mt-2"
        data-sitekey="0x4AAAAAAAJL9eGQ37s-Gu3j"
        data-callback="javascriptCallback"
        data-expired-callback="javascriptExpiredCallback"
        data-error-callback="javascriptErrorCallback"
      >
      </div>
    </form>
  </div>

  <script is:inline src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  ></script>
  <script is:inline>
    function javascriptCallback(token) {
      document.getElementById("status").innerHTML = "Ready to search!";
      console.log(token + "");
      document.getElementById("token").value = token + "";
      handleButton(true);
    }
    function javascriptExpiredCallback() {
      document.getElementById("status").innerHTML = "Verifying you're a human";
      handleButton(false);
    }
    function javascriptErrorCallback() {
      document.getElementById("status").innerHTML = "We're not sure you're a human, please refresh the page";
      handleButton(false);
    }
    function handleButton(handling) {
      document.getElementById("search-btn").disabled = !handling;
    }
  </script>
</Layout>
